.block {
    border: 0.5px solid rgb(0, 65, 115);

    /*Default Block*/
    width: 25px;
    height: 25px;

    background-color: #000000; /* Light color for squares */
    border: 0.5px solid rgba(0, 65, 115);

    z-index: 1;
}
